*.py[codz]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
pdm.lock

# 构建产物
.pybuild/
build/
dist/
*.egg-info/

# Debian packaging
.pc/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/python3-mohanxlsx/
.venv/
