Package: python3-mohanxlsx
Source: mohanxlsx
Version: 0.1.0-1
Architecture: all
Maintainer: Hoho Sd44 <sd44sd44@yeah.net>
Installed-Size: 81
Depends: python3-dateutil, python3-et-xmlfile, python3-numpy, python3-openpyxl, python3-packaging, python3-pandas, python3-qtpy, python3-six (>= 1.17.0), python3-six (<< 1.17.1~), python3-xlrd, python3:any
Suggests: python-mohanxlsx-doc
Section: python3
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: xlsx表格工具箱，支持拆分、合并、去除空行等 (Python 3)
 墨韩的xlsx表格工具箱，支持拆分、合并、去除空行等功能。
 .
 This package installs the library for Python 3.
